version: "3.9"
services:
  sunshine:
    build: .
    container_name: sunshine-headless
    restart: unless-stopped
    runtime: nvidia
    environment:
      - DISPLAY=:0
      - NVIDIA_VISIBLE_DEVICES=<your-nvidia-gpu-uuid>
      - NVIDIA_DRIVER_CAPABILITIES=all
      - RENDER_GID=${RENDER_GID}

    volumes:
      - ./config:/config
      - ./steam-home:/home/steam
      - /etc/localtime:/etc/localtime:ro
      - /dev/uinput:/dev/uinput
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    tmpfs:
      - /run
      - /run/lock
    shm_size: "16g"
    ports:
      - "47989:47989/tcp"
      - "47990:47990/tcp"
      - "47998:47998/udp"
      - "47999:47999/udp"
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp=unconfined
    cgroup: host