[Unit]
Description=Headless Xorg Server
After=init-setup.service
Wants=init-setup.service

[Service]
Type=simple
ExecStart=/usr/bin/Xorg :0 -config /etc/X11/xorg.conf -nolisten tcp -noreset
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
