[Unit]
Description=Initialize Sunshine environment (NVIDIA drivers, steam user)
Before=headless-xorg.service pulseaudio.service sunshine.service systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/init-setup.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
